This is mark down.

In [30]:
import pandas as pd
import matplotlib.pyplot as plt

data = {
    "Name": ["Bob", "Alice", "Charlie", "Allen"],
    "Grade": ["10", "10", "11", "10"],
    "EnglishScore": [90, 85, 81, 81],
    "MathScore": [88, 95, 95, None]
    
}

df = pd.DataFrame(data)
df.set_index("Name", inplace=True)

In [35]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Bob to Allen
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Grade         4 non-null      object
 1   EnglishScore  4 non-null      int64
 2   MathScore     3 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 128.0+ bytes
None

In [36]:
df.describe()

       EnglishScore  MathScore
count      4.000000   3.000000
mean      84.250000  92.666667
std        4.272002   4.041452
min       81.000000  88.000000
25%       81.000000  91.500000
50%       83.000000  95.000000
75%       86.250000  95.000000
max       90.000000  95.000000

In [ ]:
df["EnglishScore"].plot.hist()
plt.title("English score distribution")
plt.xlabel("English score")
plt.ylabel("Frequency")

In [ ]:
fig, axis=plt.subplots(1,2,figsize=(10,4))
df["MathScore"].plot.hist(ax=axis[0])
df["EnglishScore"].plot.hist(ax=axis[1])

In [ ]:
print(df.groupby(by="Grade")["MathScore"].agg(["max","min"]))

In [ ]:
print(df.sort_index(axis=1))

In [33]:
print(df.sort_values(by="Grade"))

        Grade  EnglishScore  MathScore
Name
Bob        10            90       88.0
Alice      10            85       95.0
Allen      10            81        NaN
Charlie    11            81       95.0

In [34]:
print(df.sort_values(by=["MathScore","EnglishScore"],\
                     ascending=[True, True],na_position="first"))

        Grade  EnglishScore  MathScore
Name
Allen      10            81        NaN
Bob        10            90       88.0
Charlie    11            81       95.0
Alice      10            85       95.0

In [40]:
print(df[df["Grade"]=="10"])

      Grade  EnglishScore  MathScore
Name
Bob      10            90       88.0
Alice    10            85       95.0
Allen    10            81        NaN

In [41]:
print(df.filter(items=["Bob","Alice"], axis=0))

      Grade  EnglishScore  MathScore
Bob      10            90       88.0
Alice    10            85       95.0

In [42]:
print(df.filter(items=["Grade","MathScore"], axis=1))

        Grade  MathScore
Name
Bob        10       88.0
Alice      10       95.0
Charlie    11       95.0
Allen      10        NaN

In [43]:
print(df[df["MathScore"]==95])

        Grade  EnglishScore  MathScore
Name
Alice      10            85       95.0
Charlie    11            81       95.0

In [44]:
df[df["MathScore"]==95].to_csv("high_math_score.csv")