In [ ]:
import pandas as pd

data = {
    "date": [
        "2024-12-01", "2024-12-01", "2024-12-02", "2024-12-02", "2024-12-03", "2024-12-03",
        "2024-12-04", "2024-12-04", "2024-12-05", "2024-12-05"
    ],
    "region": [
        "North", "South", "North", "East", "South", "West",
        "East", "West", "North", "South"
    ],
    "sales_rep": [
        "Alice", "Bob", "Alice", "Charlie", "Bob", "Dave",
        "Charlie", "Dave", "Alice", "Bob"
    ],
    "product": [
        "Laptop", "Tablet", "Laptop", "Laptop", "Tablet", "Tablet",
        "Laptop", "Tablet", "Laptop", "Tablet"
    ],
    "units_sold": [5, 3, 7, 2, 4, 6, 1, 5, 3, 4],
    "unit_price": [900, 400, 900, 900, 400, 400, 900, 400, 900, 400],
    "discount_rate":[.5,.2,.1,0,0,.2,.4,.3,.1,0],
    "sales_target":[2000,2000,5000,5000,2000,2000,5000,5000,5000,2000,]
}

df = pd.DataFrame(data)
df.head()

In [ ]:
df["revenue"]=df["units_sold"]*df["unit_price"]*(1-df["discount_rate"])
df

In [ ]:
data = {
    "date": [
        "2024-12-06", "2024-12-06"
    ],
    "region": [
        "North", "South"
    ],
    "sales_rep": [
        "Alice", "Bob", 
    ],
    "product": [
        "Tablet", "Laptop", 
    ],
    "units_sold": [4, 6 ],
    "unit_price": [ 400, 900],
    "discount_rate":[.1,0],
    "sales_target":[5000,2000]
}
new_df=pd.DataFrame(data)
df=pd.concat([df,new_df], ignore_index=True)
# df.drop(df.tail(2).index) removes last 2 rows
df

In [ ]:
df.loc[df["revenue"].isna(),"revenue"]=df["units_sold"]*df["unit_price"]*(1-df["discount_rate"])
df

In [ ]:
#select only few columns
#df.filter(["date","region","sales_rep","sales_target","revenue"])
df[["date","region","sales_rep","sales_target","revenue"]]

In [ ]:
#select only few rows by index
print(df.filter(axis=0,items=[1,2]))#gives dataframe
# print(df.loc[3])#location by index, which may not be a no
# print(df.iloc[4])#location by integer

In [ ]:
#select only few rows by query
df.query("region=='South' & product=='Tablet'")[["sales_rep","revenue"]]

In [ ]:
df["year"] = df["date"].str.split("-").apply(lambda l: l[0])
df

In [ ]:
df.groupby(by="year")["revenue"].agg("sum")

In [ ]:
df.groupby(by=["region","date"])["revenue"].agg("sum")

In [ ]:
def flag_outlier_iqr(df, column):
    q1 = df[column].quantile(0.25)
    q3 = df[column].quantile(0.75)
    iqr = q3 - q1

    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    # print(lower)
    # print(upper)

    return df[column].apply(lambda x:"outlier" if  (x < lower or x > upper) else "normal")
flag_outlier_iqr(df,"revenue")

In [ ]:
def flag_outlier_zscore(df,column,threshold):
    mean=df[column].mean()
    std=df[column].std()
    print(mean)
    print(std)

    return df[column].apply(
        lambda x: "Outlier" if abs((x - mean) / std) > threshold else "Normal"
    )


flag_outlier_zscore(df,"revenue",1.5)

In [ ]:
df1=df.reset_index()
df1.plot.scatter(x="index",y="revenue")

In [94]:
df.groupby(by="region")["revenue"].agg("max")

region
East     1800.0
North    5670.0
South    5400.0
West     1920.0
Name: revenue, dtype: float64